site_name: CATÁLOGO DE PROMPTS
theme:
  name: material
  features:
    - content.code.copy
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: teal    
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
nav:
    # - Index: index.md
    - Patrón de Creación de Metalenguaje: Patron-de-Creacion-de-Metalenguaje.md
    - Automatizador de Salida: Automatizador-de-Salida.md
    - Patrón de Interacción Invertida: Patron-de-Interaccion-Invertida.md
    - Patrón Persona: Patron-Persona.md
    - Patrón de Refinamiento de Pregunta: Patron-de-Refinamiento-de-Pregunta.md
    - Patrón de Enfoques Alternativos: Patron-de-Enfoques-Alternativos.md
    - Patrón de Verificador Cognitivo: Patron-de-Verificador-Cognitivo.md
    - Patrón de Lista de Verificación de Hechos: Patron-de-Lista-de-Verificacion-de-Hechos.md
    - Patrón de Plantilla: Patron-de-Plantilla.md
    - Patrón de Generación Infinita: Patron-de-Generacion-Infinita.md
    - Patrón Generador de Visualización: Patron-Generador-de-Visualizacion.md
    - Patrón Juego: Patron-Juego.md
    - Patrón de Reflexión: Patron-de-Reflexion.md
    - Patrón Rompedor de Rechazo: Patron-Rompedor-de-Rechazo.md
    - Patrón Gestor de Contexto: Patron-Gestor-de-Contexto.md
    - Patrón Receta: Patron-Receta.md
    - Patrón De Público Objetivo: Patron-De-Publico-Objetivo.md
